## Jonathan David James O'Neill 16435482
img{
    height: 130px;
    width: 30%;
    background-color: powderblue;
    text-align: bottom;
    float: right
    wrap left;

}


p{
  font-style: italic;
  font-family: sans-serif;
  margin:auto;
  font-size: 13px
}


body{
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
  margin:auto;
  font-size: 16px;
  align text-align: bottom

}
h1{
  font-style: oblique;
font-family: 'Montserrat', sans-serif;
  margin:auto;
  font-weight: bold;
}

table, th, td {
   border: 3px solid black;
}
